:host {
    --expand-sidebar: 280px;
    --collapse-sidebar: 80px;
}

.left-sidebar {
    width: var(--expand-sidebar);
}
.dashboard-right-content {
    width: calc(100% - var(--expand-sidebar));
}
.left-sidebar.active {
    width: var(--collapse-sidebar);
}
.dashboard-right-content.active {
    width: calc(100% - var(--collapse-sidebar));
}
.content-area {
    height: calc(100%);
}